@model beltexam2.Models.UserWrapper

@{
    ViewData["Title"] = "User Framework";
    ViewData["NavBar"] = false;
}
<div class=index-box>
    <div class="register-box">
        @Html.Partial("Register",Model.User)
    </div>
    <div class="login-box">
        @Html.Partial("Login",Model.Login)
    </div>
</div>